@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,500&display=swap');
*,
body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    color: rgb(55, 53, 53);
}

code {
    font-family: 'Cabin', sans-serif;
}